@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: rgb(20, 25, 36);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

text-shadow {
  text-shadow: 0px 2px 0px rgb(0 0 0 / 30%);
}

.adjacent-post {
  & .arrow-btn {
    transition: width 300ms ease;
    width: 50px;
  }
  &:hover {
    & .arrow-btn {
      width: 60px;
    }
  }
}

@mixin arrow-btn {
  transition: width 300ms ease;
  width: 50px;
  &:hover {
    width: 60px;
  }
  position: absolute;
  padding: 0.5rem;
  background-color: #2563eb !important;
}
.react-multiple-carousel__arrow {
  @include arrow-btn();

  &--left {
    left: 0 !important;
  }

  &--right {
    right: 0 !important;
  }
}
